// Secrets.xcconfig.example
// Copy this file to Secrets.xcconfig.
// This token is provided for review purposes and will be revoked after the review.
// To use your own, get a token at: https://www.themoviedb.org/settings/api

TMDB_BEARER_TOKEN = eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJlMWI0MmFhNTZiYjhmMjg4MTZkMjE1OWU4NGZlYjRlYiIsIm5iZiI6MTc4MDA0NzUzNC43NTcsInN1YiI6IjZhMTk1ZWFlNTVmYjU1YjA4Njc0NGQyYyIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.T__3ER6VUDfSYETRK4Efi9zmd_T1rxiEGzkuzPUkTdE
